body {
	width: 100%;
	height: 80vh;
	border: 1px solid black;
	background: url(https://imgv2-2-f.scribdassets.com/img/document/46108932/149x198/c3b463ead8/1545355906?v=1);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: contain;
	
	
}