* {
  font-size: 14pt;
  font-family: "Times New Roman"
}

body {
  height: 877px;
  width:620px;
}

.head {
  margin: 30px;
  text-align: center;
  line-height: 60%;
}

.main {
  text-align:center;
  line-height: 50%;
  margin-top:250px;
  
}

.fat {
  font-weight: bold;
  
}

.name {
  width:50%;
  text-align: start;
  line-height: 40%;
  margin-left: 50%;
  margin-top:200px;
}

.footer {
  margin-top:200px;
  text-align:center;
}

span {
  text-decoration: underline;
}